/* Add your custom styles here */
// .btn-primary{
//     background-color: #1d4367;
//     border-color: #1d4367;
//     color: #ffc00f;
//     &:hover{
//         background-color: #ffc00f;
//         border-color: #ffc00f;
//         color: #1d4367;
//     }
// }
// .bg-primary{
//     background-color: #1d4367 !important
// }


/* .nav-item a {
    color: #636363 !important;
}

.nav-item a:hover {
    color: #333333 !important;
}

.nav-item.active a {
    color: #212529 !important;
}

.navbar-brand {
    color: #212529 !important;
} */

.navbar {
/*     background: #f9f9f9 !important; */
    padding:10px;
    margin-bottom: 15px;
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: $dark;
    padding: 0px 0px 0px 0px;
    vertical-align: text-bottom;
    
  }

  .post-date {
    font-size: small;
  }
  
  .post-date.index {
    margin-bottom: 0px;
  }

  .post-excerpt {
      display: inline;
      white-space: nowrap;
  }

  .side-text {
      text-align: left;
      display: inline-block;
  }
