/* Add your custom styles here */
// .btn-primary{
//     background-color: #1d4367;
//     border-color: #1d4367;
//     color: #ffc00f;
//     &:hover{
//         background-color: #ffc00f;
//         border-color: #ffc00f;
//         color: #1d4367;
//     }
// }
// .bg-primary{
//     background-color: #1d4367 !important
// }


/* .nav-item a {
    color: #636363 !important;
}

.nav-item a:hover {
    color: #333333 !important;
}

.nav-item.active a {
    color: #212529 !important;
}

.navbar-brand {
    color: #212529 !important;
} */

@media (min-width: 1200px) {
    .container{
        max-width: 1150px;
    }
}

.navbar {
/*     background: #f9f9f9 !important; */
    padding:10px;
    margin-bottom: 15px;
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: $dark;
    padding: 0px 0px 0px 0px;
    vertical-align: text-bottom;
    
  }

.post-date {
font-size: small;
}

.post-date.index {
margin-bottom: 0px;
}

.post-excerpt {
    display: inline;
    white-space: nowrap;
}

.side-text {
    text-align: left;
    display: inline-block;
}

.footer-text{
    font-size: small;
}

$border-custom: $gray-200;
$bg-custom: $gray-100;
$spacing-unit: 20px;


table {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  tr {
    &:nth-child(even) {
      background-color: $bg-custom;
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: $bg-custom;
    border: 1px solid $border-custom;
  }
  td {
    border: 1px solid $border-custom;
  }
  
  display: block;
  overflow-x: auto;

  @include media-query($on-laptop) {
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}



blockquote {
    color: $gray-600;
    background-color: #fffcee;
    border-left: 4px solid #ffed9b;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    // @include relative-font-size(1.125);
    // font-style: none;
    // font-weight: 400;
    border-radius:3px;
    
    > :last-child {
        margin-bottom: 0;
    }
  
    }
  
.toc {

  margin-top: 50px;

  font-size: small;

  background-color: $bg-custom; 
  border-radius: 3px;
  // border: 1px solid $gray-300;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;

  ul {
    padding: 0;
    padding-left: 0px;
    
    list-style-type: none;
    color: $blue;
    
    ul {
      padding-left: 5px;
      list-style-type: none;
    }

  }

}

.fixed-sidebar {
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
}

.fixed-sidebar-index {
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
}

span.emoji {
  font-size: 30px;
  vertical-align: middle;
  // line-height: 2;
}