/* Add your custom styles here */
// .btn-primary{
//     background-color: #1d4367;
//     border-color: #1d4367;
//     color: #ffc00f;
//     &:hover{
//         background-color: #ffc00f;
//         border-color: #ffc00f;
//         color: #1d4367;
//     }
// }
// .bg-primary{
//     background-color: #1d4367 !important
// }


/* .nav-item a {
    color: #636363 !important;
}

.nav-item a:hover {
    color: #333333 !important;
}

.nav-item.active a {
    color: #212529 !important;
}

.navbar-brand {
    color: #212529 !important;
} */

.navbar {
/*     background: #f9f9f9 !important; */
    padding:10px;
    margin-bottom: 15px;
}
