<div class="col fixed-sidebar-index mb-4 px-2 mx-2 mt-1">
  
  <h5>Lui Habl</h5>
  
  <span class="side-text">PhD student in Plasma Physics at the</span>
  <span class="side-text"><a href="https://www.lpp.polytechnique.fr/?lang=en">
  Laboratoire de Physique des Plasmas</a> in Paris, France.</span>
  
</br></br><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <a href="https://github.com/luihabl/">Github</a></br>
<svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <a href="https://twitter.com/luihabl/">Twitter</a>

</div>
