<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    <div class="wrapper">
    
   <div class="sidenav">
    <h1>Lui Habl<h1/>
    <p>PhD student in Plasma Physics at the <a href="https://lpp.polytechnique.fr">Laboratoire de Physique des Plasmas</a> in Paris, France.</p>
   </div>

    <div class="container">
      {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>
    </div>
  </body>
</html>
