---
layout: default
---

{% capture toc %}{% include toc.html html=content h_max=2 class=toc%}{% endcapture %}


<div class="row">

    <div class="col-md-1x">
        
    </div>

    
                

    <div class="col-md-8 mb-5">
  
    <h1>{{ page.title }}</h1>
    <p class="text-muted post-date post">{{ page.date | date: "%d/%m/%Y" }}</p>
    {{ content }}
    </div>

    <div class="d-none d-md-block mt-2  col fixed-sidebar">

    <div class="toc">
        {% if toc.size > 1 %}
        <h4>Contents</h4>
          
        {{ toc }}
        
        {% endif %}
    </div>


    </div> 

    
  </div>
  
  